@page "/"

<PageTitle>Index</PageTitle>

<h1>Rio Tinto Dashboard</h1>

<SurveyPrompt Title="Simandou Project - Unlocking the world’s largest known high-grade iron ore deposit in Guinea" />

<p>
    Rio Tinto's tracking system on the impact of community initiatives to ensure long-term benefits.
</p>

<h2>Simandou Iron Ore Project in Guinea</h2>

<p>The Simandou project is imminently due to become the world’s largest greenfield mining project and the largest ever undertaken on the African continent. This once-in-a-generation megaproject will not only place Guinea on the world stage as a top global producer of high-quality, low impurity iron ore, it will also set a new benchmark for large scale project development throughout the Simandou mountain range of southern Guinea's Nzérékoré Region. </p>
<p>
    The Simandou iron ore project in Guinea is estimated to cost around $11.6 billion, with Rio Tinto's share being approximately $6.2 billion, with $5.7 billion remaining to be spent as of January 1, 2024.
Simandou’s mining concession is divided into 4 blocks. We hold rights to Simandou’s blocks 3 and 4 through Rio Tinto Simfer – a joint venture between Rio Tinto, Chalco Iron Ore Holdings (CIOH), and the Government of the Republic of Guinea. Rio Tinto is the majority shareholder and managing partner of Rio Tinto Simfer. </p>


<div class="gray-blocks-section">
    <div class="gray-block">
        <h3>Transport</h3>
        <p>
           A multi-user railway spanning over 620 km and new port facilities at Makatong.
        </p>
       
    </div>
    <div class="gray-block">
        <h3>Economy</h3>
        <p>
            In 2023, we spent $378 million with over 300 Guinean registered companies.
        </p>
    </div>
    <div class="gray-block">
        <h3>Community</h3>
        <p>
          More than 9,400 jobs have been created, and we are committed to developing skills and training. 83% of our employees are Guinean.

        </p>
    </div>
</div>



<h2>Rio Tinto's Commitment to Simandou</h2>

<ul>
    <li>Commitment to Sustainability: Rio Tinto is focused on minimizing social, health, safety, and environmental impacts while fostering positive changes for local communities and stakeholders.</li>
    <li>Long-Term Stewardship: Rio Tinto views itself as a steward of natural resources and is dedicated to environmental stewardship and social wellbeing in developing the Simandou project.</li>
    <li>Community Engagement: Regular community consultation forums and sessions are held to address local concerns, maintain dialogue, and explore additional support opportunities.</li>
</ul>

<p>Simandou is a complex, uniquely transformative project. From the associated infrastructure corridor to the thousands of jobs the project will create, the project will positively impact the Guinean economy, creating opportunities and development potential which will benefit the people of Guinea for generations to come.</p>

<p>As with any significant development project, challenges will need to be carefully managed, including minimising adverse social, health, safety and environmental impacts while simultaneously fostering positive and tangible change for local communities and other key stakeholders.</p>

<p>Throughout the history of our involvement in the Simandou project, we have maintained regular community consultation forums and sessions designed to maintain dialogue with local communities by addressing questions, concerns and additional opportunities to provide support. </p>

<p>We are committed to developing the Simandou project in line with internationally recognised environmental, social and governance standards. This includes transparently reporting on impacts of our mining operations, and continuing to work alongside local stakeholders on ways of mitigating these impacts. We recognise the responsibility we are entrusted with and see ourselves as long-term stewards of natural resources. We will continue to work alongside communities to ensure the Simandou project is developed with environmental stewardship and social wellbeing at its core.  </p>


