<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="images/RioTintoLogo.png" alt="Rio Tinto" class="rio-tinto-logo" />

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Simandou Dashboard
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="research">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Simandou Research
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assessment">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Needs Assessment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Programs
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Tracking Analytics
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
